<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
